body {
  background: #F3F6F7;
}

.Section {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 32px 0;
  border-bottom: 1px solid #E3E3E3;
}

.Section--sub {
  margin-top: 24px;
}

.Section-title {
  margin-bottom: 16px;
}

.Section.Buttons Button {
  margin: 0 16px 16px 0;
}

.DeviceIcons .DeviceIcon {
  max-width: 100px;
}

.ChannelImages .DeviceIcon {
  max-width: 100px;
}
