body {
  background: #F3F6F7;
}

.Section {
  padding: 24px;
}

.Section--sub {
  margin-top: 24px;
}

.Section-title {
  margin-bottom: 12px;
}

.Section.Buttons Button {
  margin: 0 12px 12px 0;
}

.ChannelImages .ChannelImage {
  max-width: 100px;
}
