.ErrorState {
  text-align: center;
}

.ErrorState-title {
  margin-bottom: 16px;

  font-family: 'citrixsans-semibold', sans-serif;
  font-size: 32px;
  white-space: nowrap;
}

.ErrorState-description {
  margin-bottom: 16px;
  letter-spacing: 0.7px;
}
