.OctobluAppBar-nav {
  display: block;
  height: 100%;
}

.OctobluAppBar-nav--primary {
  float: left;
}

.OctobluAppBar-nav--secondary {
  float: right;
}

.OctobluAppBar-link {
  border: none;
  display: inline-block;
  padding: 0 16px;

  color: #E9F2FB;
  font-size: 16px;
  text-transform: none;
  text-decoration: none !important;
  line-height: 52px;

  background: transparent;
  cursor: pointer;
}

.OctobluAppBar-link:hover {
  color: #FFF;
  text-decoration: none;
  background: rgba(0,0,0, 0.1);
}

.OctobluAppBar-link:focus {
  outline: none;
}

.OctobluAppBar-link--active {

}

.OctobluAppBar-link-icon {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.OctobluAppBar-link--logo {
  float: left;
  height: 52px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.OctobluAppBar-logo {
  display: block;
  float: left;
  margin-top: 13px;
  width: 125px;
}
