.Form {
  font-family: "citrixsans-regular", sans-serif;
  background: oldlace;
}

.Form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;
}

.Form-label {
  font-family:"citrixsans-bold", sans-serif;
  font-weight: bold;
  margin-bottom: 8px;
}

.Form-input {
  border-radius: 2px;
  border: 1px solid #E6EAED;
  display: block;
  padding: 0.6em 1em;
  margin-bottom: 16px;
  width: 100%;

  font-size: 16px;
  font-family: "citrixsans-regular", sans-serif;

  -webkit-appearance: none;
}

.Form-input:focus {
  border: 1px solid #14568F;
  outline: none;
  background-color: #f8fdff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(19, 133, 229, 0.1);
  transition: all 0.2s ease-in;
}

.Form-input:disabled {
  background-color: #F3F6F7;
  cursor: not-allowed;
}

.Form-input:required:focus {
 border: 1px solid #fec57b;
 background-color: #fff9f2;
}

.Form-actions {
}

.Form-labelRequired,
.Form-labelRequired[title] {
  border: none;
  color: #c23934;
  margin-right: 0.2em;
}
