.Page {
  min-height: 100%;
  width: 100%;
  margin: 32px auto;
}

.Page--small {
  max-width: 800px;
}

.Page--medium {
  max-width: 1044px;
}

.Page--large {
  max-width: 1600px;
}

.Page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.Page-title {
  flex: 1;
  margin: 0;
  padding: 0;

  font-size: 32px;
}

.Page-actions {
  margin-left: 16px;
}
