.Page {
  min-height: 100%;
  width: 100%;
  max-width: 1044px;
  margin: 0 auto;
  padding: 36px 0;
}

.Page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  text-align: center;
}

.Page-title {
  margin: 0 12px 0 0;
  padding: 0;
  flex: 1;
  font-size: 60px;
}

.Page-actions {}
