.List {
  padding: 16px 0;
}

.List-item {
  padding: 16px;
  background: #FFF;
  border-bottom: 1px solid #EAEAEA;
}

.List-item:last-child {
  border: none;
}

.List-itemIcon {
  font-size: 24px;
  margin-right: 16px;
}
